<!DOCTYPE html>
<html>
    <head>
        <title>This is the title</title>
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/recoder.js"></script>
        <script src="static/js/main.js"></script>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td><button id = "record" type="button">Record</button> </td>
                </tr>
                <tr>
                    <td><button id = "stop" type="button">Stop</button> </td>
                </tr>
            </table>
            <section class="sound-clips">
        </div>
    </body>
</html>
